html,
body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #e8ebf7;
    font-family: 'Raleway', sans-serif;
}

#body-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d81331;
    background: linear-gradient(45deg, #e8ebf7 0, #e8ebf7 10%, #d81331 10%, #d81331 50%, #242424 50%, #242424 80%, #e8ebf7 80%, #e8ebf7 100%);
}

img {
    height: 100%;
    width: 100%;
}

a,
a:hover,
p {
    color: inherit;
    text-decoration: none;
}

header {
    background: none;
    height: 100vh;
}

.navbar {
    background: #d81331;
    color: #e6e6e9;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-brand {
    height: 4.5rem;
    width: 3.4rem;
}

.navbar-item>.nav-link {
    color: #e8ebf7;
}

.navbar-toggler-icon {
    color: #e6e6e9
}

.hero-main-card {
    /* fallback for not supported*/
    background: #d81331 center / cover no-repeat url("../img/circuits-bg.svg");
    background: center / cover no-repeat url("../img/circuits-bg.svg"), linear-gradient(to right, #d81331, #d81340);
    border: 4px solid #e8ebf7;
    height: 75vh;
    margin-top: 2vh;
    color: #e8ebf7;
    z-index: 1;
}

.robothon-5-main-logo {
    overflow: hidden;
    height: 20vh;
    margin: 2vh 50% 0 50%;
    transform: translateX(-50%);
}

.countdown-and-date {
    text-align: center;
}

#date {
    height: 7vh;
    padding: 1vh;
    margin-top: 2vh;
    font-size: 1.5em;
}

#countdown-title {
    height: 5vh;
    font-size: 1em;
}

#countdown {
    height: 20vh;
    font-family: 'Black Ops One', cursive;
}

#countdown-text  {
    width: 55%;
    margin: 0 auto;
}

.countdown-row {
    color: #e8ebf7;
    font-size: 45px;
    font-weight: 300;
}

.countdown-section {
    width: 25%;
    display: inline-block;
}

.countdown-amount {
    display: inline-block;
    font-size: 0.9em;
}

.countdown-period {
    display: block;
    font-size: 0.38em;
}

.register {
    text-align: center;
    text-transform: uppercase;
    transition: .3s;
    margin-bottom: 5vh;
}

.register-butt {
    padding: 0.5em;
    line-height: 10vh;
    border: 2px solid #e8ebf7;
    transition: all 0.3s;
}

.register-butt:hover {
    color: #d81331;
    background-color: #e8ebf7
}

/* .register:after {
    background: #e8ebf7;
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    height: 120%;
    bottom: 0;
    left: -10%;
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
    z-index: -1;
}


.register:hover {
    cursor: pointer;
    color: #bf0603;
}

.register:hover:after {
    left: -10%;
    width: 120%;
}
 */
.show-details {
    color: #e8ebf7;
    color: #0c090d;
    overflow: hidden;
    position: relative;
}

.details {
    background-color: #0c090d;
    background-color: #e6e6e9;
    height: 90vh;
    width: 95%;
    margin: 5vh 0;
    transform: translate(-2vw);
    padding: 6% 4% 0% 15%;
    text-align: center;
    position: relative;
    box-shadow: 11px 12px 0px -3px #de1a1a;
    border: 2px solid #0c090d;
}

.details>p {
    line-height: 2.5;
    font-weight: 600;
}

hr {
    margin: 5% 0;
    padding: 0;
    height: 0.25rem;
    background: white;
    background: #de1a1a;
}

.show-robothon-theme {
    position: absolute;
    left: 30%;
    top: 0;
    background-color: #de1a1a;
    /*     background-color: #0c090d; */
    color: #e6e6e9;
    text-align: center;
    height: 60vh;
    /*     margin: 10vh 0 0 0; */
    /*     transform: translateX(5vw); */
    width: 100%;
    z-index: 1;
    font-size: 2.5rem;
    padding: 5%;
    /*     border: 4px solid #e8ebf7; */
    border: 2px solid #0c090d;
}

.show-robothon-theme>p {
    margin: 10% 0 0 0;
}

#black-robot-waving {
    position: absolute;
    transform: rotateZ(20deg);
    /*     left: 90%; */
    bottom: -20%;
    left: -5%;
    width: 26%;
    /*     height: 40%; */
    /*     height: 300px; */
}

.show-details-beta {
    color: #e8ebf7;
    color: #0c090d;
    background-color: white;
    background-color: #eeeeee;
    border: 2px solid #de1a1a;
    border: 2px solid #d81331;
    overflow: hidden;
    position: relative;
/*     height: 100vh; */
    width: 100%;
    margin: 0;
    padding: 1%;
    background: linear-gradient(#e66465, #9198e5 50%);
    background: linear-gradient(45deg, #242424 0%, #242424 25%, #e8ebf7 25%, #e8ebf7 75%, #242424 75%, #242424 100%);
}

#hello {
    /*     display: block; */
    width: 100vw;
    padding: 0 80vw 0 0;
    height: 4rem
}

#fellow-humans {
    /*     padding: 0 10vw 0 20vw; */
    /*     width: 50vw; */
    width: 100vw;
    padding: 0 30vw 0 0;
    height: 4rem;
}

.content-container {
    position: relative;
    height: inherit;

}

.show-details-beta-content {
    margin-top: 6vh
}

.details-beta>p, .show-robothon-theme-beta {
    background-color: #e6e6e9;
    width: 95%;
    line-height: 2.5;
    padding: 0 0 0 0;
    padding: 5%;
    text-align: left;
    font-weight: bold;
    position: relative;
    box-shadow: 11px 12px 0px -3px #de1a1a;
    box-shadow: 11px 12px 0px -3px #bf0603;
}

.show-robothon-theme-beta {
    text-align: center;
    font-size: 4rem;
    width: 60vw;
    margin: 1rem auto;
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
    .navbar {
        background: transparent;
        padding-left: 5vw;
    }
    .navbar-brand {
        height: 6.6rem;
        width: 5rem;
    }
}

@media (max-width: 540px) {
    #countdown-text {
        width: 70%;
    }
}


/* ***********color palette********** */
/* blackish: #0c090d
light reddish: #de1a1a
whitish: #e8ebf7
dark reddish: #bf0603
darker whitish: #e6e6e9 */