html,
body {
    padding: 0;
    margin: 0;
    background-color: #e8ebf7;
}

div {
    /*     overflow: hidden; */
}

#body-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #bf0603;
/*     z-index: -1; */
}

img {
    height: 100%;
    width: 100%;
}

a,
a:hover,
p {
    color: inherit;
    text-decoration: none;
    /* width: inherit;
    height: inherit; */
}

header {
    /* background: linear-gradient(to right, #de1a1a, #de1a1a 50%, #e8ebf7 50%, #e8ebf7); */
    background: none;
    height: 100vh;
}

.navbar {
    background-color: transparent;
    height: 5.7rem;
}

.navbar-brand {
    height: 100%;
}

.navbar-brand img {
    background: center / contain no-repeat url("../img/logo_only_Light.png");
}

.nav-link {
    color: #e8ebf7;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 0.2s;
    border-bottom: 8px solid transparent;
}

.nav-link:hover {
    border-bottom-color: #e8ebf7;
    /*     background-color: #e8ebf7; */
    /*     color: #de1a1a; */
    color: #e8ebf7;
}

.navbar-toggler {
    /*     background-color: red; */

}

navbar-toggler-icon {}

/* APPEND CLASSES OR IDS OR ELEMENTS HERE TO CENTER THEM HORIZONTALLY */
.time-and-date,
.robothon-5-main-logo,
.countdown,
.register-butt {
    margin: 0 50%;
    transform: translateX(-50%);
}

/* ########### APPEND CLASSES OR IDS OR ELEMENTS HERE TO HAVE FULL PAGE HEIGHT ############ */
.show-details {
    height: 100vh;
}

.hero-main-card {
    background: #de1a1a center / cover no-repeat url("../img/techno-bg.svg");
    /* fallback for not supported*/
    background: center / cover no-repeat url("../img/techno-bg.svg"), linear-gradient(to right, #de1a1a, #bf0603);
    /*     background-size: cover;
    background-position: center; */
    border: 4px solid #e8ebf7;
    height: 75vh;
    margin-top: 2vh;
    color: #e8ebf7;
    z-index: 1;

}

.robothon-5-main-logo {
    overflow: hidden;
    max-width: 30vw;
    min-width: 20vw;
    margin-top: 3%;
    background: center / contain no-repeat url("../img/robo5logo_2_stripped.png");
}

.time-and-date {
    width: 40%;
    text-align: center;
}

#date {
    font-size: 1.5rem;
}

#countdown-title {
    margin: 10% 0 0 0;
    font-size: 1.2rem;
}

.countdown {
    width: 100%;
    text-align: center;
}

.countdown-row {
    color: #e8ebf7;
    font-size: 45px;
    font-weight: 300;
}

.countdown-section {
    width: 25%;
    display: inline-block;
}

.countdown-amount {
    display: inline-block;
    font-size: 0.9em;
}

.countdown-period {
    display: block;
    font-size: 0.38em;
}

.register-butt {
    width: 35%;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #e8ebf7;
    padding: 1%;
    position: relative;
    overflow: hidden;
    transition: .3s;
    margin-top: 4%;
}

.register-butt:after {
    background: #e8ebf7;
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    height: 120%;
    bottom: 0;
    left: -10%;
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
    z-index: -1;
}


.register-butt:hover {
    cursor: pointer;
    color: #bf0603;
}

.register-butt:hover:after {
    left: -10%;
    width: 120%;
}

#black-robot-waving {
    position: relative;
    transform: rotateZ(30deg);
    left: 0%;
    height: 20vw;
}

.show-details {
    color: #e8ebf7;
}

.details {
    background-color: #0c090d;
    height: 90vh;
    width: 95%;
    margin: 5vh 0;
    transform: translate(-2vw);
    padding: 2% 4% 2% 15%;
    text-align: center;
    position: relative;
    box-shadow: 11px 12px 0px -3px #de1a1a;
}

.details>p {
    line-height: 2.5;
    margin: 5% 0 10% 0;
    font-weight: 600; 
}

.show-robothon-theme {
    background-color: #de1a1a;
    text-align: center;
    height: 50vh;
    margin: 10vh 0 0 0;
    transform: translateX(5vw);
    width: 100%;
    z-index: 1;
    font-size: 2.5rem;
    padding: 5%;
    border: 4px solid #e8ebf7;
}

.show-robothon-theme>p{
    margin: 8% 0 0 0;
}

/* ***********color palette********** */
/* blackish: #0c090d
light reddish: #de1a1a
whitish: #e8ebf7
dark reddish: #bf0603
darker whitish: #e6e6e9 */