html,
body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #e8ebf7;
    font-family: 'Montserrat', sans-serif;
}

#body-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d81331;
    background: linear-gradient(45deg, #e8ebf7 0, #e8ebf7 10%, #d81331 10.1%, #d81331 50%, #242424 50.1%, #242424 80%, #e8ebf7 80.1%, #e8ebf7 100%);
}

img {
    height: 100%;
    width: 100%;
}

a,
a:hover,
p {
    color: inherit;
    text-decoration: none;
}

/* #register,
#about {
    min-height: 100vh;
}
 */
span.avoid-wrapping {
    display: inline-block;
}

.emphasize {
    color: #d81331;
}

/* Mozilla based browsers */
::-moz-selection {
    background-color: #d81331;
    color: #242424;
}

/* Works in Safari */
::selection {
    background-color: #d81331;
    color: #242424;
}

header {
    background: none;
    height: 100vh;
}

.navbar {
    background-color: #242424;
}

.navbar-brand {
    height: 4.5rem;
    width: 3.4rem;
}

.nav-link,
.nav-link:hover {
    color: #e8ebf7;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border-bottom: 8px solid transparent;
}


.navbar-toggler-icon {
    color: #e8ebf7;
}

.hero-main-card {
    /* fallback for not supported*/
    background: #d81331 center / cover no-repeat url("../img/circuits-bg.svg");
    background: center / cover no-repeat url("../img/circuits-bg.svg"), -webkit-gradient(linear, left top, right top, from(#d81331), to(#d81340));
    background: center / cover no-repeat url("../img/circuits-bg.svg"), linear-gradient(to right, #d81331, #d81340);
    border: 4px solid #e8ebf7;
    height: 75vh;
    margin-top: 2vh;
    color: #e8ebf7;
    z-index: 1;
}

.robothon-5-main-logo {
    height: 20vh;
    margin: 3vh auto 0 auto;
}

#college-name {
    text-align: center;
    margin-top: 1vh;
    font-size: 0.75rem;
}

.time-and-date {
    text-align: center;
    height: 30vh;
    margin-top: 2vh
}

#date {
    font-size: 1.5em;
    font-weight: 500;
}

#countdown-title {
    font-size: 1em;
    margin-top: 2vh;
}

.countdown {
    width: 55%;
    margin: 0 auto;
    margin-top: 5vh
}

.countdown-row {
    color: #e8ebf7;
    font-size: 45px;
    font-weight: 300;
}

.countdown-section {
    width: 25%;
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Black Ops One', cursive;
    font-size: 1em;
}

.countdown-amount {
    display: inline-block;
    font-size: 0.9em;
}

.countdown-period {
    display: block;
    font-size: 0.38em;
}

.register {
    text-align: center;
    text-transform: uppercase;
    margin-top: 5vh;
}

.register-butt {
    border: 2px solid #e8ebf7;
    padding: 0.5em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.register-butt:hover {
    background-color: #e8ebf7;
    color: #d81331;
}

.first-content,
.second-content {
    position: relative;
    background-color: #242424;
    color: #e8ebf7;
    text-align: left;
    line-height: 2.75;
    padding: 6% 5% 6% 6%;
    -webkit-box-shadow: 5px 6px 0px 0px #D81331;
    box-shadow: 5px 6px 0px 0px #D81331;
    /*! min-height: 60vh; */
}

.content-title {
    text-transform: uppercase;
    font-family: 'Megrim', cursive;
    margin-top: 2.5rem;
}

#theme {
/*     height: 1rem */
    padding: 10%;
    margin: 0;
}

#theme>h4 {
    width: 100%;
}

#theme>div {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    width: 100%;
}

#prizes>.content-title {
    width: 100%;
}

.first-content.prize-information {
    background: #d81331;
    text-align: center;
    color: #e8ebf7;
    width: 100%;
    -webkit-box-shadow: 5px 6px 0px 0px #242424;
    box-shadow: 5px 6px 0px 0px #242424;
}

.first-content.prize-information>h5 {
    margin-bottom: 3rem;
    height: 3rem;
}

.first-content.prize-information>h5>.fa-trophy {
    height: 100%;
    width: 100%;
}

.prize-position {
    font-size: 1.5rem;
    margin-bottom: 1rem
}

.prize-amount {
    margin-bottom: 5rem;
    font-weight: bold;
}

.internship-offer {
    font-weight: bold;
}

.internship-offer>span {
    padding: 1%;
}

.generic-info-card {
    position: relative;
}

.generic-info-card-title,
.generic-info-card-title {
    position: absolute;
}

.generic-info-card-title {
    top: -2rem;
    left: 0;
    color: #e8ebf7;
    font-size: 1.5rem;
}

.labs-container .first-content {
    width: 100%;
    padding: 3% 2% 1% 3%;
}

.labs-container .content-title {
    width: 100%;
}

.labs {
    margin-top: 6rem;
}

.labs-title {
    background-color: #d81331;
    padding: 1%;
    top: -3rem;
}

.labs-image {
    height: 25rem;
    width: 98%;
    border: 2px solid #d81331;
}

.first-content.registration-details {
    line-height: 2.5;
    padding: 2%;
    text-align: left;
    padding-bottom: 2rem;
}

.price-detail {
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.price-detail>h5 {
    font-size: 1rem;
}

#registration-robot {
    height: 50%;
    margin-top: 50%;
}

.first-content.image-slider {
    position: relative;
    height: 45vw;
}

.image-slider>.slider-image {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.image-slider>.curtain {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #242424;
    z-index: 2;
}

#on-media>.content-title {
    width: 100%;
}

/* Thank you https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */

.inner {
    border: 10px solid #d81331;
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.inner>iframe {
    position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
}

.connector {
    background: #d81331;
    width: 10px;
    height: 10vh;
    position: relative;
    left: 50%;
}

.description {
    background: #242424;
    border: 10px solid #d81331;
    color: #e8ebf7;
    padding: 3%;
    line-height: 3;
    text-align: left;
}

.map-holder>.content-title {
    width: 100%;
}

.map-holder>iframe {
    border: 0;
    width: 100%;
    height: 70vh;
    -webkit-box-shadow: 5px 6px 0px 0px #D81331;
    box-shadow: 5px 6px 0px 0px #D81331;
}

footer {
    background: #d81331;
    color: #e8ebf7;
    margin-top: 8rem;
}

.contact-details h2 {
    text-align: center;
    margin: 3rem 0;
    font-weight: 400;
}

.contact-details {
    position: relative;
    top: -5rem;
    background: #242424;
    padding: 15px;
    text-align: center;
    font-weight: normal;
    margin: 0 15px 0 15px;
}

.contact {
    margin-top: 3rem;
}

.contact>h3 {
    font-size: 1.3rem;
}

.contact-card {
    margin-bottom: 2em;
    padding: 1rem;
    line-height: 1;
}

.contact-card>h4 {
    font-size: 1.0rem;
    margin-bottom: 2.5rem;
}


/*
*   ##############MEDIA QUERIES START HERE################
*/



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-brand {
        height: 5rem;
        width: 3.8rem;
    }
}

@media (max-width: 992px) {

    .content-title-1,
    .content-title-2 {
        font-size: 4rem;
    }
}

@media (min-width: 768px) {
    .navbar {
        background: transparent;
        padding-left: 5vw;
    }

    .navbar-nav>li>a {
        color: #e8ebf7;
        border-bottom: 10px solid transparent;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .navbar-nav>li>a:hover {
        border-bottom: 10px solid #e8ebf7;
    }

    .content-title-1,
    .content-title-2 {
        position: absolute;
        float: left;
        font-size: 5rem;
    }

    .content-title {
        position: relative;
        width: 80%;
        margin-top: 0;
    }
    
    .content-title + div {
        margin-top: 6rem;
    }

    .content-title-1 {
        right: 0;
    }

    .content-title-2 {
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: translateX(3.5rem) rotate(90deg);
        transform: translateX(3.5rem) rotate(90deg);
    }

    .position-at-edge {
        position: absolute;
        right: 0;
        width: 1px;
    }

    .first-content,
    .second-content {
        margin: 0 0 2rem 0;
        width: 80%;
    }

    .content-title-2 {
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transform: translateX(3rem) rotate(90deg);
        transform: translateX(3rem) rotate(90deg);
    }
    
    .labs-container .first-content {
        width: 90%;
        padding: 3% 2% 1% 3%;
    }
    
    .labs-container .content-title {
        width: 90%;
    }
    

    .map-holder>.content-title {
        width: 90%;
    }
    
    .map-holder>iframe {
        border: 0;
        width: 90%;
        height: 70vh;
        margin-top: 6rem;
    }
}

@media (max-width: 640px) {
    .countdown-period {
        font-size: 0.35em;
    }

    #countdown-text {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .navbar {
        position: absolute;
        width: 100%;
        z-index: 5;
        text-align: center;
        border: 2px solid #e6e6e9;
    }

    .hero-main-card {
        margin-top: 7rem;
    }
    
    #registration-robot {
    display: none;
    }   
}

@media (max-width: 540px) {
    #countdown-text {
        width: 95%;
    }

    .countdown-period {
        font-size: 0.3em;
    }
    .content-title-1,
    .content-title-2 {
        font-size: 3rem;
    }
    #theme>div {
    font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .content-title-1,
    .content-title-2 {
        font-size: 2rem;
    }
    
    
}

@media (max-width: 768px) {
    .navbar {
        position: absolute;
        width: 100%;
        z-index: 9999;
    }

    .hero-main-card {
        margin-top: 6rem;
    }

    .navbar-toggler {
        outline: none;
    }

    .navbar-toggler:focus {
        outline: none;
    }

    .navbar {
        border: 2px solid #e8ebf7;
    }
}

@media (max-width: 850px) {
    .countdown {
        width: 70%
    }
}

@media (max-width: 535px) {
    .countdown {
        width: 100%;
    }

    .countdown-period {
        font-size: 0.35em;
    }
}

/* ***********color palette********** */
/* blackish: #0c090d
light reddish: #de1a1a
whitish: #e8ebf7
dark reddish: #bf0603
darker whitish: #e6e6e9 */