/*     font-family: 'Major Mono Display', monospace;
    font-family: 'Megrim', cursive;
 */
html,
body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #e8ebf7;
    font-family: 'Montserrat', sans-serif;
}

#body-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d81331;
    background: -webkit-linear-gradient(45deg, #e8ebf7 0, #e8ebf7 10%, #d81331 10%, #d81331 50%, #242424 50%, #242424 80%, #e8ebf7 80%, #e8ebf7 100%);
    background: linear-gradient(45deg, #e8ebf7 0, #e8ebf7 10%, #d81331 10.1%, #d81331 50%, #242424 50.1%, #242424 80%, #e8ebf7 80.1%, #e8ebf7 100%);
}

img {
    height: 100%;
    width: 100%;
}

a,
a:hover,
p {
    color: inherit;
    text-decoration: none;
}

.full-screen-height {
    min-height: 100vh;
}

header {
    background: none;
    height: 100vh;
}

.navbar {
    background-color: #d81331;
}

.navbar-brand {
    height: 4.5rem;
    width: 3.4rem;
}

.nav-link,
.nav-link:hover {
    color: #e8ebf7;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s;
    border-bottom: 8px solid transparent;
}


.navbar-toggler-icon {
    color: #e8ebf7;
}

.hero-main-card {
    /* fallback for not supported*/
    background: #d81331 center / cover no-repeat url("../img/circuits-bg.svg");
    background: center / cover no-repeat url("../img/circuits-bg.svg"), linear-gradient(to right, #d81331, #d81340);
    background: center / cover no-repeat url("../img/circuits-bg.svg"), -webkit-linear-gradient(to right, #d81331, #d81340);
    border: 4px solid #e8ebf7;
    height: 75vh;
    margin-top: 2vh;
    color: #e8ebf7;
    z-index: 1;
}

.robothon-5-main-logo {
    height: 20vh;
    margin: 5vh auto 0 auto;
}

.time-and-date {
    text-align: center;
    height: 30vh;
    margin-top: 2vh
}

#date {
    font-size: 1.5em;
    font-weight: 500;
}

#countdown-title {
    font-size: 1em;
    margin-top: 2vh;
}

.countdown {
    width: 55%;
    margin: 0 auto;
    margin-top: 5vh
}

.countdown-row {
    color: #e8ebf7;
    font-size: 45px;
    font-weight: 300;
}

.countdown-section {
    width: 25%;
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.7em;
}

.countdown-amount {
    display: inline-block;
    font-size: 0.9em;
}

.countdown-period {
    display: block;
    font-size: 0.38em;
}

.register {
    text-align: center;
    text-transform: uppercase;
    margin-top: 5vh;
}

.register-butt {
    border: 2px solid #e8ebf7;
    padding: 0.5em;
    transition: all 0.3s;
}

.register-butt:hover {
    background-color: #e8ebf7;
    color: #d81331;
}

.content-title {
    text-transform: uppercase;
    font-family: 'Megrim', cursive;
}

.content-title-1,
.content-title-2 {
    font-size: 1rem;
}

.first-content,
.second-content {
    background-color: #242424;
    color: #e8ebf7;
    text-align: left;
    line-height: 2.75;
}

.position-at-edge {
    width: 1px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-brand {
        height: 5rem;
        width: 3.8rem;
    }
    
    .first-content, .second-content {
        position: relative;
        width: 80%;
        padding: 6% 5% 6% 6%;
        box-shadow: 5px 6px 0px 0px #D81331;
        margin: 6rem 0 1rem 0;
    }
    
    .first-content {
         
    }

    .second-content {
        
    }

    .content-title-1,
    .content-title-2 {
        position: absolute;
        float: left;
        font-size: 5rem;
    }

    .content-title {
        position: relative;
        width: 80%;
    }

    .content-title-1 {
        right: 0;
    }

    /*     .content-title-2 {
        transform-origin: left;
        right: -50%;
    } */
    .position-at-edge {
        position: absolute;
        right: 0;
    }

    .content-title-2 {
        transform-origin: left;
        transform: translateX(3.5rem) rotate(90deg);
    }
}

@media (min-width: 768px) {
    .navbar {
        background: transparent;
        padding-left: 5vw;
    }


    .navbar-nav>li>a {
        color: #e8ebf7;
        border-bottom: 10px solid transparent;
        transition: all 0.3s;
    }

    .navbar-nav>li>a:hover {
        border-bottom: 10px solid #e8ebf7;
    }

}

@media (max-width: 640px) {
    .countdown-period {
        font-size: 0.35em;
    }

    #countdown-text {
        width: 80%;
    }
}

@media (max-width: 540px) {
    #countdown-text {
        width: 95%;
    }

    .countdown-period {
        font-size: 0.3em;
    }
}

@media (max-width: 768px) {
    .navbar {
        position: absolute;
        width: 100%;
        z-index: 9999;
    }


    .navbar {
        text-align: center;
        border: 2px solid #e6e6e9;
    }

    .hero-main-card {
        margin-top: 7rem;
    }
}

@media (min-width: 768px) {
    .navbar {
        background-color: transparent;
    }


    .nav-link:hover {
        border-bottom-color: #e8ebf7;
        color: #e8ebf7;
    }
}

@media (max-width: 768px) {
    .navbar {
        position: absolute;
        width: 100%;
        z-index: 9999;
    }

    .hero-main-card {
        margin-top: 6rem;
    }

    .navbar-toggler {
        outline: none;
    }

    .navbar-toggler:focus {
        outline: none;
    }

    .navbar {
        border: 2px solid #e8ebf7;
    }
}

@media (max-width: 850px) {
    .countdown {
        width: 70%
    }
}

@media (max-width: 535px) {
    .countdown {
        width: 100%;
    }

    .countdown-period {
        font-size: 0.35em;
    }
}


/* ***********color palette********** */
/* blackish: #0c090d
light reddish: #de1a1a
whitish: #e8ebf7
dark reddish: #bf0603
darker whitish: #e6e6e9 */