html,
body {
    padding: 0;
    margin: 0;
    background-color: none;
}

#body-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #d81331;
    z-index: -1;
}

img {
    height: 100%;
    width: 100%;
}

a, a:hover {
    color: inherit;
}

.hero {
    /* background: linear-gradient(to right, #d81331, #d81331 50%, white 50%, white); */
    background: none;
    height: 100vh;
}

.navbar {
    background-color: transparent;
    height: 5.7rem;
}

.navbar-brand {
    height: 100%;
}

.navbar-brand img {
    background: center / contain no-repeat url("../img/logo_only_Light.png");
}

.nav-link {
    color: white;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 0.2s;
    border-bottom: 8px solid transparent;
}

.nav-link:hover {
    border-bottom-color: white;
/*     background-color: white; */
/*     color: #d81331; */
    color: white;
}

.navbar-toggler {
/*     background-color: red; */
    
}

navbar-toggler-icon {
}

/* append classes here to center things, it works on most divs. */
.time-and-date,
.robothon-5-main-logo,
.countdown, .register-butt {
    margin: 0 50%;
    transform: translateX(-50%);
}

.hero-main-card {
    background: #d81331 no-repeat url("../img/techno-bg.svg"); /* fallback for not supported*/
    background: no-repeat url("../img/techno-bg.svg"), linear-gradient(to right, #d81331, #DA3C54);
    background-size: cover;
    border: 4px solid white;
    height: 75vh;
    margin-top: 2vh;
    color: white;
    z-index: 1;

}

.robothon-5-main-logo {
    overflow: hidden;
    max-width: 30vw;
    min-width: 20vw;
    margin-top: 3%;
    background: center / contain no-repeat url("../img/robo5logo_2_stripped.png");
}

.time-and-date {
    width: 40%;
    text-align: center;
}

#date {
    font-size: 1.5rem;
}

#countdown-title {
    margin: 10% 0 0 0;
    font-size: 1.2rem;
}

.countdown {
    width: 100%;
    text-align: center;
}

.countdown-row {
    color: #fff;
    font-size: 45px;
    font-weight: 300;
}

.countdown-section {
    width: 25%;
    display: inline-block;
}

.countdown-amount {
    display: inline-block;
    font-size: 0.9em;
}

.countdown-period {
    display: block;
    font-size: 0.38em;
}

.register-butt {
    width: 35%;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid white;
    padding: 1%;
    position: relative;
    overflow: hidden;
    transition: .3s;
    margin-top: 4%;
  }
  
  .register-butt:after {
    background: white;
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    height: 120%;
    bottom: 0;
    left: -10%;
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
    z-index: -1;
  }
  
  
  .register-butt:hover {
    cursor: pointer;
    color: #d81331;
  }
  
  .register-butt:hover:after {
    left: -10%;
    width: 120%;
  }
  