html,
body {
    padding: 0;
    margin: 0;
    background-color: #e8ebf7;
    font-family: 'Raleway', sans-serif;
}

div {
    /*     overflow: hidden; */
}

#body-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bf0603;
    background: linear-gradient(45deg, #e8ebf7 0, #e8ebf7 20%, #de1a1a 20%, #de1a1a 50%, #0c090d 50%, #0c090d 80%, #e8ebf7 80%, #e8ebf7 100%);
    background: linear-gradient(45deg, #e8ebf7 0, #e8ebf7 20%, #d81331 20%, #d81331 50%, #242424 50%, #242424 80%, #e8ebf7 80%, #e8ebf7 100%);
}

img {
    height: 100%;
    width: 100%;
}

a,
a:hover,
p {
    color: inherit;
    text-decoration: none;
    /* width: inherit;
    height: inherit; */
}

header {
    /* background: linear-gradient(to right, #de1a1a, #de1a1a 50%, #e8ebf7 50%, #e8ebf7); */
    background: none;
    height: 100vh;
}

.navbar {
    background-color: transparent;
    height: 5.7rem;
}

.navbar-brand {
    height: 100%;
}

.navbar-brand img {
    background: center / contain no-repeat url("../img/logo_only_Light.png");
}

.nav-link {
    color: #e8ebf7;
    font-weight: 700;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: 0.2s;
    border-bottom: 8px solid transparent;
}

.nav-link:hover {
    border-bottom-color: #e8ebf7;
    /*     background-color: #e8ebf7; */
    /*     color: #de1a1a; */
    color: #e8ebf7;
}

.navbar-toggler {
    /*     background-color: red; */

}

navbar-toggler-icon {}

/* APPEND CLASSES OR IDS OR ELEMENTS HERE TO CENTER THEM HORIZONTALLY */
.time-and-date,
.robothon-5-main-logo,
.countdown,
.register-butt {
    margin: 0 50%;
    transform: translateX(-50%);
}

/* ########### APPEND CLASSES OR IDS OR ELEMENTS HERE TO HAVE FULL PAGE HEIGHT ############ */
.show-details {
    height: 100vh;
}

.hero-main-card {
    background: #de1a1a center / cover no-repeat url("../img/techno-bg.svg");
    background: #de1a1a center / cover no-repeat url("../img/techno-bg.svg");
    /* fallback for not supported*/
    background: center / cover no-repeat url("../img/techno-bg.svg"), linear-gradient(to right, #de1a1a, #bf0603);
    background: center / cover no-repeat url("../img/techno-bg.svg"), linear-gradient(to right, #d81331, #d81340);
    /*     background-size: cover;
    background-position: center; */
    border: 4px solid #e8ebf7;
    height: 75vh;
    margin-top: 2vh;
    color: #e8ebf7;
    z-index: 1;

}

.robothon-5-main-logo {
    overflow: hidden;
    max-width: 30vw;
    min-width: 20vw;
    margin-top: 3%;
    background: center / contain no-repeat url("../img/robo5logo_2_stripped.png");
}

.time-and-date {
    width: 40%;
    text-align: center;
}

#date {
    font-size: 1.5rem;
}

#countdown-title {
    margin: 10% 0 0 0;
    font-size: 1.2rem;
}

.countdown {
    width: 100%;
    text-align: center;
}

.countdown-row {
    color: #e8ebf7;
    font-size: 45px;
    font-weight: 300;
}

.countdown-section {
    width: 25%;
    display: inline-block;
}

.countdown-amount {
    display: inline-block;
    font-size: 0.9em;
}

.countdown-period {
    display: block;
    font-size: 0.38em;
}

.register-butt {
    width: 35%;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #e8ebf7;
    padding: 1%;
    position: relative;
    overflow: hidden;
    transition: .3s;
    margin-top: 4%;
}

.register-butt:after {
    background: #e8ebf7;
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    height: 120%;
    bottom: 0;
    left: -10%;
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
    z-index: -1;
}


.register-butt:hover {
    cursor: pointer;
    color: #bf0603;
}

.register-butt:hover:after {
    left: -10%;
    width: 120%;
}

.show-details {
    color: #e8ebf7;
    color: #0c090d;
    overflow: hidden;
    position: relative;
}

.details {
    background-color: #0c090d;
    background-color: #e6e6e9;
    height: 90vh;
    width: 95%;
    margin: 5vh 0;
    transform: translate(-2vw);
    padding: 6% 4% 0% 15%;
    text-align: center;
    position: relative;
    box-shadow: 11px 12px 0px -3px #de1a1a;
    border: 2px solid #0c090d;
}

.details>p {
    line-height: 2.5;
    font-weight: 600;
}

hr {
    margin: 5% 0;
    padding: 0;
    height: 0.25rem;
    background: white;
    background: #de1a1a;
}

.show-robothon-theme {
    position: absolute;
    left: 30%;
    top: 0;
    background-color: #de1a1a;
    /*     background-color: #0c090d; */
    color: #e6e6e9;
    text-align: center;
    height: 60vh;
    /*     margin: 10vh 0 0 0; */
    /*     transform: translateX(5vw); */
    width: 100%;
    z-index: 1;
    font-size: 2.5rem;
    padding: 5%;
    /*     border: 4px solid #e8ebf7; */
    border: 2px solid #0c090d;
}

.show-robothon-theme>p {
    margin: 10% 0 0 0;
}

#black-robot-waving {
    position: absolute;
    transform: rotateZ(20deg);
    /*     left: 90%; */
    bottom: -20%;
    left: -5%;
    width: 26%;
    /*     height: 40%; */
    /*     height: 300px; */
}

.show-details-beta {
    color: #e8ebf7;
    color: #0c090d;
    background-color: white;
    background-color: #eeeeee;
    border: 2px solid #de1a1a;
    border: 2px solid #d81331;
    overflow: hidden;
    position: relative;
/*     height: 100vh; */
    width: 100%;
    margin: 0;
    padding: 1%;
    background: linear-gradient(#e66465, #9198e5 50%);
    background: linear-gradient(45deg, #242424 0%, #242424 25%, #e8ebf7 25%, #e8ebf7 75%, #242424 75%, #242424 100%);
}

#hello {
    /*     display: block; */
    width: 100vw;
    padding: 0 80vw 0 0;
    height: 4rem
}

#fellow-humans {
    /*     padding: 0 10vw 0 20vw; */
    /*     width: 50vw; */
    width: 100vw;
    padding: 0 30vw 0 0;
    height: 4rem;
}

.content-container {
    position: relative;
    height: inherit;

}

.show-details-beta-content {
    margin-top: 6vh
}

.details-beta>p, .show-robothon-theme-beta {
    background-color: #e6e6e9;
    width: 95%;
    line-height: 2.5;
    padding: 0 0 0 0;
    padding: 5%;
    text-align: left;
    font-weight: bold;
    position: relative;
    box-shadow: 11px 12px 0px -3px #de1a1a;
    box-shadow: 11px 12px 0px -3px #bf0603;
}

.show-robothon-theme-beta {
    text-align: center;
    font-size: 4rem;
    width: 60vw;
    margin: 1rem auto;
}



/* ***********color palette********** */
/* blackish: #0c090d
light reddish: #de1a1a
whitish: #e8ebf7
dark reddish: #bf0603
darker whitish: #e6e6e9 */